{
    "extends": "airbnb",
    "settings": {
        "import/resolver": {
            "webpack": {
                "config": "./webpack.config.js"
            }
        }
    },
    "parser": "babel-eslint",
    "plugins": [
        "react"
    ],
    "env": {
        "amd": true,
        "browser": true,
        "node": true,
        "es6": true,
        "worker": true
    },
    "rules": {
        "comma-dangle": [
            "error",
            {
                "arrays": "only-multiline",
                "objects": "only-multiline",
                "imports": "never",
                "exports": "never",
                "functions": "ignore"
            }
        ],
        "linebreak-style": [ "error", "windows" ],
        "indent": [ "error", 4 ],
        "brace-style": [ "error", "stroustrup" ],
        "jsx-quotes": [ "error", "prefer-single" ],
        "no-param-reassign": 0,
        "react/jsx-indent": [ "error", 4 ],
        "react/jsx-indent-props": [ "error", 4 ],
        "react/prop-types": 0
    },
    "globals": {}
}
